/* styles.css */

body {
    display: flex;
    flex-direction: row;
    min-width: 1200px;
    min-height: 600px;
}

#left {
    flex: 1;
    position: relative;
}

#right {
    flex: 2;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#odin-container {
    position: absolute;
    top: 30%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(58, 58, 58, 0.5);
}

@font-face {
    font-family: Norse Bold;
    src: url("Norse-Bold.otf");
}


#odin-text {
    color: white;
    font-family: "Norse Bold", sans-serif;
    font-size: calc(max(min(16vh, 12vw),144px));
}

#top, #bottom {
    background-color: rgb(241, 241, 241);
    position: relative;
}

#top, #middle, #bottom {
    padding-left: 30px;
}

#top {
    flex: 1
}

#bottom {
    flex-grow: 1;
    padding-top: 20px;
}

#bottom-two-thirds {
    flex: 2;
    display: flex;
    flex-direction: column;
}

#forminputs {
    display: flex;
    flex-direction: row;
}

form {
    display: flex;
    flex-direction: column;
}

p {
    font-family: sans-serif;
    font-weight: bold;
    font-size: x-large;
}

#bottom p, #bottom a {
    font-weight: normal;
    font-size: large;
}

#bottom a {
    text-decoration: none;
    font-weight: bold;
}

#toptext {
    position: absolute;
    bottom: 20px;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    padding-bottom: 20px;
    padding-right: 50px;
}

label {
    display: block;
    text-transform: uppercase;
    color:rgb(104, 104, 104);
    font-family: sans-serif;
    font-size: small;
    font-weight: bold;
}

/* thank you chatgpt for making it pretty */
button { 
    background-color: #596D48; /* Blue background */
    color: white; /* White text color */
    padding: 10px 20px; /* Padding inside the button */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor style on hover */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Bold font weight */
}

input {
    padding: 10px;
    border: 1px solid #ccc; /* Default border color */
    border-radius: 5px;
    outline: none; /* Remove default focus outline */
  }
  
  /* Style for invalid input */
  input:invalid {
    border-color: #dc3545; /* Red border color */
  }
  
  /* Style for focused input */
  input:focus {
    border-color: #007bff; /* Blue border color */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Blue shadow when focused */
  }